<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Application for Formula Driver Position</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f6f6f6;
            }

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .header-right {
                margin-left: auto;
            }

            .container {
                max-width: 625px;
                margin: 0 auto;
                background-color: #fff;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                position: relative;
            }

            h1 {
                font-size: 24px;
                font-weight: bold;
                margin: 0;
                text-align: left;
            }

            .date {
                font-size: 14px;
                font-weight: normal;
                margin: 0;
            }

            .location {
                font-size: 14px;
                font-weight: normal;
                margin: 0;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
                margin: 20px 0;
                text-align: justify;
            }

            .signature {
                font-size: 14px;
                font-weight: normal;
                margin: 50px 0 0 0;
                text-align: right;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Application for Formula Driver Position</h1>
                <div class="header-right">
                    <div class="date" th:text="${today}"></div>
                    <div class="location">Brno, Czech Republic</div>
                </div>
            </div>

            <p><b>Dear <span th:text="${fullName}"></span>,</b></p>
            <p>I am pleased to inform you that your application for the position of Formula Driver has been <b>Accepted</b>. We are excited to have you join our team and look forward to working with you.</p>
            <p>Your experience, skills, and passion for racing make you an excellent fit for our team. We believe that you will be a valuable asset to our organization and we are eager to see what you can accomplish on the track.</p>
            <p>As a next step, we will contact you shortly to discuss the details of your employment contract and to schedule your training and orientation. In the meantime, please do not hesitate to contact us if you have any questions or concerns.</p>
            <p>Thank you for your interest in our team and for taking the time to apply. We look forward to a long and successful partnership with you.</p>
            <p>Best regards,
                <br>Formula Team Management</p>
            <div class="signature">-- Formula Team Management</div>
        </div>
    </body>
</html>