<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Application for Formula Driver Position</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f6f6f6;
        }

        .container {
            max-width: 625px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            text-align: left;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 20px 0;
            text-align: justify;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>New component was added to Formula team management core</h1>
    <table>
        <tr>
            <td>Id:</td>
            <td th:text="${id}"></td>
        </tr>
        <tr>
            <td>Component type:</td>
            <td th:text="${type}"></td>
        </tr>
        <tr>
            <td>Information:</td>
            <td th:text="${info}"></td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td th:text="${weight} + 'kg'"></td>
        </tr>
    </table>
</div>
</body>
</html>