<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Application for Formula Driver Position</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f6f6f6;
        }

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .header-right {
            margin-left: auto;
        }

        .container {
            max-width: 625px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            text-align: left;
        }

        .date {
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        .location {
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 20px 0;
            text-align: justify;
        }

        .signature {
            font-size: 14px;
            font-weight: normal;
            margin: 50px 0 0 0;
            text-align: right;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Application for Formula Driver Position</h1>
        <div class="header-right">
            <div class="date" th:text="${today}"></div>
            <div class="location">Brno, Czech Republic</div>
        </div>
    </div>

    <p><b>Dear <span th:text="${fullName}"></span>,</b></p>
    <p>I regret to inform you that your application for the Formula Driver position has been <b>Declined</b>. While we appreciate your interest in the role, we have decided to pursue other candidates whose skills and experience more closely match our requirements.</p>
    <p>I want to personally thank you for taking the time to apply for the position and for your passion for motorsports. We would like to keep your resume on file in case any suitable openings arise in the future.</p>
    <p>If you have any questions or would like feedback on your application, please feel free to reach out to us.</p>
    <p>Thank you again for considering Formula Team Management, and we wish you all the best in your future endeavors.</p>
    <p>Best regards,
        <br>Formula Team Management</p>
    <div class="signature">-- Formula Team Management</div>
</div>
</body>
</html>